.overlay-card {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(25, 132, 155, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition-duration: 300ms;

}

.openCard {
    opacity: 1;
    visibility: visible;
    transition-duration: 300ms;
}
.overlay-card * {
    color: white;
}

.card {
    width: 656px;
    background-color: #272A2F;
    padding: 49px 0 49px 70px;
    position: relative;
}

.closeBtn {
    background-image: url(../img/Vector\ \(8\).png);
    position: absolute;
    width: 23.4px;
    height: 23.4px;
    left: 90%;
    top: 50px;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.01em;
}

.card-contacts {
    margin-top: 26px;
    margin-bottom: 20px;
    width: 100%;
}

.card_text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    width: 96%;
}

.input_text {
    width: 29%;
    height: 50px;
    background: #324B53;
    border: none;
    color:#8EA5AC;
    padding-left: 16.26px;
}

.input_email {
    width: calc(54% + 2px);
    height: 50px;
    background: #324B53;
    border: none;
    color:#8EA5AC;
    padding-left: 22px;
    margin-left: 15px;
}

.textarea {
    background: #324B53;
    width: calc(90% - 5px);
    resize: none;
    border: none;
    height: 219px;
    padding: 16px 0 0 22px;

}

.card_button {
    margin-top: 26px;
    width: 217px;
    height: 50px;
    border: 2px solid white;
    background-color: #272A2F;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.card_button:hover {
    background-color:#19849B;
    border: none;
}

@media screen  and (max-width: 750px){
    .card {
        width: 450px;
        padding: 49px 0 49px 35px;
    }
    .input_text {
        width: calc(28% - 1px);
    }
    .textarea {
        width: calc(92% - 5px);
    }
    
}